{% extends "base.html" %}


{% block main %}
<div class="top">
    <img src= "{{ url_for('static', filename='me.jpg')}}" >
    <h3>Annwar Greenland</h3>
    <p class="username">@AGreenland</p>
    <p>Joined {{day}}</p>
</div>
<p class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt augue eget efficitur pharetra.<br>
    Mauris eu semper purus. Aliquam fermentum pellentesque ante eu malesuada. In hac habitasse platea dictumst. 
    Nulla sed ullamcorper lorem.
</p>
<div class="flex-container">
    <div>7</div>
    <div>100</div>
    <div>250</div>  
</div>
    
<div class="follows-container">
    <div>Post</div>
    <div>Following</div>
    <div>Followers</div>  
</div>
<br>
<div class="btn">
    <button class="button1">Follow</button>
</div>



{% endblock %}